@charset "UTF-8";
.roboto {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings: "wdth";
}

.play-regular {
  font-family: "Play", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.play-bold {
  font-family: "Play", sans-serif;
  font-weight: 700;
  font-style: normal;
}

:root {
  --color-brand-light: #2b7fff;
  --color-brand-dark: #011c44;
  --color-brand-white: #ffffff;
  --color-secondary-light: #747272;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  color: var(--color-brand-dark);
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 173%;
  margin: 0;
  max-width: 100%;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  font-size: 64px;
  margin-bottom: 80px;
  line-height: normal;
}

h1,
h2 {
  font-family: "Play", sans-serif;
  font-weight: 700;
  text-transform: capitalize;
}

a {
  display: inline-block;
}

p {
  margin-top: 0;
  display: block;
}

section {
  padding-top: 96px;
}

.container {
  width: 100%;
  max-width: 1288px;
  margin: 0 auto;
  padding: 0 24px;
}

@keyframes blueStar {
  25% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  75% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}
.wave {
  background-image: url(../images2/background.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.section-title {
  font-size: 32px;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .section-title {
    text-align: center;
    font-size: 64px;
  }
}

/*Button*/
.button {
  color: #ffffff;
  background: var(--color-brand-light);
  border: 2px solid var(--color-brand-light);
  border-radius: 32px;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  width: 219px;
  height: 53px;
  margin-bottom: 14px;
}

.button:hover {
  color: var(--color-brand-dark);
  background-color: transparent;
}

/*header*/
.header {
  position: absolute;
  padding-top: 32px;
  padding-bottom: 32px;
  width: 100%;
}
@media screen and (min-width: 1200px) {
  .header {
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.25);
  }
}
.header__header-container {
  display: flex;
  justify-content: space-between;
}
@media screen and (min-width: 1200px) {
  .header__header-container {
    display: flex;
    align-items: center;
    gap: 240px;
  }
}
.header__address-logos-header {
  display: none;
}
@media screen and (min-width: 1200px) {
  .header__address-logos-header {
    fill: var(--color-brand-dark);
    display: flex;
    gap: 32px;
  }
}
.header__header-menu {
  display: none;
}
@media screen and (min-width: 1200px) {
  .header__header-menu {
    display: flex;
    justify-content: center;
    gap: 54px;
    font-size: 18px;
  }
}
.header__header-nav {
  flex-grow: 1;
  display: flex;
  align-items: center;
}
.header__header-link {
  color: var(--color-brand-dark);
  cursor: pointer;
  font-weight: 400;
  font-size: 18px;
  text-decoration: none;
  transition: transform 0.3s;
}
.header__header-link:hover {
  color: var(--color-brand-light);
  transform: scale(1.1);
}
.header__burger {
  padding-left: 0;
  display: block;
  background-color: transparent;
  fill: var(--color-brand-light);
  justify-content: end;
}
@media screen and (min-width: 1200px) {
  .header__burger {
    display: none;
  }
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-brand-white);
  transform: translateX(100%);
  transition: transform 0.3s;
  display: none;
}
.mobile-menu__container {
  display: block;
  padding-left: 20px;
  padding-top: 16px;
}
@media screen and (min-width: 1200px) {
  .mobile-menu__container {
    display: none;
  }
}
.mobile-menu__header-menu {
  margin-top: 32px;
  display: block;
}
@media screen and (min-width: 1200px) {
  .mobile-menu__header-menu {
    display: none;
  }
}
.mobile-menu__address-logos-menu {
  display: flex;
  gap: 16px;
  margin-top: 16px;
}
@media screen and (min-width: 1200px) {
  .mobile-menu__address-logos-menu {
    fill: var(--color-brand-dark);
    display: none;
    gap: 32px;
  }
}
.mobile-menu__is-open {
  transform: translateX(0);
  display: flex;
}
.mobile-menu__button-close {
  position: absolute;
  top: 16px;
  right: 24px;
}
.mobile-menu__menu-button-open {
  border: none;
}

/*hero-section*/
.hero-section {
  background-image: linear-gradient(94deg, #fff 9.65%, rgba(255, 255, 255, 0.85) 26.08%, rgba(255, 255, 255, 0.19) 52.74%, rgba(255, 255, 255, 0) 74.46%), url(../images2/фон.png);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  flex-grow: 1;
  padding-bottom: 233px;
  display: flex;
  align-items: center;
}
@media screen and (min-width: 1200px) {
  .hero-section__hero-container {
    padding-top: 17px;
    display: flex;
    align-items: center;
  }
}
.hero-section__kosmetology {
  font-size: 12px;
}
@media screen and (min-width: 1200px) {
  .hero-section__kosmetology {
    font-weight: 400;
    font-size: 18px;
  }
}
.hero-section__call-and-get {
  font-size: 12px;
  line-height: 150%;
}
.hero-section__hero-text {
  align-items: center;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .hero-section__hero-text {
    margin-left: 106px;
    text-align: left;
  }
}
.hero-section__hero-title {
  text-align: center;
  font-weight: 700;
  font-size: 54px;
  color: var(--color-brand-light);
  margin-bottom: 32px;
  line-height: 81%;
  margin-top: 0;
}
@media screen and (min-width: 1200px) {
  .hero-section__hero-title {
    font-size: 140px;
    margin-top: 16px;
    line-height: 81%;
    margin-bottom: 40px;
    max-width: 530px;
    text-align: left;
  }
}
.hero-section__section-title {
  font-family: "Play", sans-serif;
  font-weight: 700;
  font-size: 64px;
}
.hero-section__link {
  color: #faf4ea;
}

/*about us section*/
@media screen and (min-width: 768px) {
  .about-us-section__about-us-container {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    align-items: center;
  }
}
.about-us-section__transformation-tittle {
  max-width: 320px;
  font-size: 32px;
  margin-bottom: 24px;
}
@media screen and (min-width: 768px) {
  .about-us-section__transformation-tittle {
    font-weight: 700;
    font-size: 64px;
    margin-bottom: 40px;
    max-width: 710px;
  }
}
.about-us-section__about-us-text {
  max-width: 710px;
}
.about-us-section__about-text {
  max-width: 320px;
  font-size: 18px;
}
@media screen and (min-width: 768px) {
  .about-us-section__about-text {
    margin-bottom: 40px;
    font-size: 22px;
    max-width: 709px;
  }
}
.about-us-section__wide-text {
  font-weight: 600;
  text-transform: uppercase;
}
.about-us-section__transformation {
  color: var(--color-brand-light);
}
.about-us-section__about-us-images {
  display: none;
}
@media screen and (min-width: 1200px) {
  .about-us-section__about-us-images {
    display: flex;
    border-radius: 360px;
    box-shadow: 0 4px 4px 0 rgba(168, 198, 245, 0.2);
  }
}
.about-us-section__about-us-images.after {
  margin-left: 169px;
}
.about-us-section__star {
  position: absolute;
  top: 1200px;
  right: 0;
}
@media screen and (min-width: 1200px) {
  .about-us-section__star {
    position: absolute;
    top: 1000px;
    right: 100px;
    animation: blueStar linear 10s infinite;
    fill: var(--color-brand-light);
  }
}
.about-us-section__star-small {
  display: none;
}
@media screen and (min-width: 1200px) {
  .about-us-section__star-small {
    display: flex;
    position: absolute;
    top: 1200px;
    right: 100px;
    animation: blueStar linear 10s infinite;
    fill: var(--color-secondary-light);
  }
}
.about-us-section__star-large {
  display: none;
}
@media screen and (min-width: 1200px) {
  .about-us-section__star-large {
    display: flex;
    position: absolute;
    top: 1350px;
    right: 550px;
    animation: blueStar linear 10s infinite;
    fill: var(--color-brand-dark);
  }
}

/*why us section*/
.why-us-section__why-us-container {
  display: flex;
  justify-content: center;
  gap: 56px;
}
@media screen and (min-width: 1200px) {
  .why-us-section__items {
    display: flex;
    justify-content: space-between;
    gap: 40px;
  }
}
.why-us-section__why-tittle {
  font-size: 32px;
}
@media screen and (min-width: 1200px) {
  .why-us-section__why-tittle {
    text-align: center;
    font-size: 64px;
  }
}
.why-us-section__why {
  color: var(--color-brand-light);
}
.why-us-section__why-us-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 133%;
}
.why-us-section__why-item {
  border: 2px solid var(--color-brand-white);
  border-radius: 32px;
  box-shadow: 0 4px 4px 0 rgba(168, 198, 245, 0.38);
  background-color: var(--color-brand-white);
  text-align: center;
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 24px;
  padding-bottom: 24px;
  height: 181px;
  width: 316px;
  margin-bottom: 16px;
}

/*procedures section*/
.procedures-section {
  max-width: 1216px;
}
.procedures-section__procedures__slider {
  max-width: 1216px;
  text-align: center;
  justify-content: space-between;
  align-items: center;
  display: flex;
  gap: 16px;
}
.procedures-section__procedures-card-1 {
  background-image: linear-gradient(180deg, rgba(1, 28, 68, 0) 47.4%, rgba(1, 28, 68, 0.73) 82.66%, #011c44 99.06%), url(../images2/3.png);
  border: 2px solid var(--color-brand-white);
  text-align: center;
  border-radius: 120px 4px;
  width: 344px;
  height: 456px;
  transition: transform 0.3s;
}
.procedures-section__procedures-card-2 {
  background-image: linear-gradient(180deg, rgba(1, 28, 68, 0) 47.4%, rgba(1, 28, 68, 0.73) 82.66%, #011c44 99.06%), url(../images2/4.png);
  border: 2px solid var(--color-brand-white);
  text-align: center;
  border-radius: 120px 4px;
  width: 344px;
  height: 456px;
  transition: transform 0.3s;
}
.procedures-section__procedures-card-3 {
  background-image: linear-gradient(180deg, rgba(1, 28, 68, 0) 47.4%, rgba(1, 28, 68, 0.73) 82.66%, #011c44 99.06%), url(../images2/5.png);
  border: 2px solid var(--color-brand-white);
  text-align: center;
  border-radius: 120px 4px;
  width: 344px;
  height: 456px;
  transition: transform 0.3s;
  padding-right: 60px;
}
.procedures-section__procedures-card-1:hover, .procedures-section__procedures-card-2:hover, .procedures-section__procedures-card-3:hover {
  transform: scale(1.05);
}
.procedures-section__procedures-item {
  padding: 77px;
}
.procedures-section__procedures-text {
  color: var(--color-brand-white);
  font-weight: 400;
  font-size: 22px;
  line-height: 118%;
  text-align: center;
  margin-top: 390px;
}
.procedures-section__procedures {
  color: var(--color-brand-light);
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination__button {
  width: 12px;
  height: 12px;
  padding: 0;
  background-color: var(--color-secondary-dark);
  border-radius: 50%;
}

.pagination__button--active {
  background-color: var(--color-brand-normal);
}

.swiper-container {
  overflow: hidden;
}

/*carusel-button*/
.carousel__carousel-button {
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  padding: 0;
  fill: var(--color-brand-dark);
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid var(--color-brand-dark);
  cursor: pointer;
  display: none;
}
@media screen and (min-width: 768px) {
  .carousel__carousel-button {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    padding: 0;
    fill: var(--color-brand-dark);
    background-color: transparent;
    border-radius: 50%;
    border: 1px solid var(--color-brand-dark);
    cursor: pointer;
  }
}
.carousel__carousel-button:hover {
  background-color: var(--color-brand-light);
  fill: var(--color-brand-white);
  border-color: var(--color-brand-light);
}
.carousel__carousel-button.next {
  transform: rotate(180deg);
}

/* where to find us section*/
.contakts-section__find-us-container {
  align-items: center;
  display: flex;
  flex-direction: column-reverse;
  padding-bottom: 0;
}
@media screen and (min-width: 1200px) {
  .contakts-section__find-us-container {
    flex-direction: row;
    display: flex;
    justify-content: center;
    gap: 32px;
    padding-bottom: 96px;
  }
}
.contakts-section__section-title {
  margin-bottom: 24px;
}
@media screen and (min-width: 1200px) {
  .contakts-section__section-title {
    margin-bottom: 48px;
  }
}
.contakts-section__form {
  max-width: 320px;
}
@media screen and (min-width: 1200px) {
  .contakts-section__form {
    max-width: 422px;
  }
}
.contakts-section__map {
  width: calc(100% + 48px);
  padding-top: 24px;
}
@media screen and (min-width: 1200px) {
  .contakts-section__map {
    border-radius: 32px;
    width: 605px;
    height: 482px;
    padding-top: 0;
  }
}
.contakts-section__where {
  color: var(--color-brand-light);
}

/*footer*/
.footer {
  background-image: url(../images2/background2.png);
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  background-color: var(--color-brand-dark);
}
.footer .footer::after {
  width: 278px;
  height: 160px;
  background-size: 100%;
  right: 0;
  bottom: 0;
  position: absolute;
  background-repeat: no-repeat;
  background-image: url("../images2/medicaments.png");
  content: "";
}
.footer__footer-container {
  padding-top: 32px;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .footer__footer-container {
    text-align: left;
    display: flex;
    gap: 186px;
    padding: 56px;
  }
}
.footer__footer-addres {
  display: flex;
  gap: 186px;
}
.footer__address-links {
  display: none;
}
@media screen and (min-width: 1200px) {
  .footer__address-links {
    display: block;
    font-weight: 400;
    max-width: 192px;
    font-size: 16px;
    color: var(--color-brand-white);
    text-decoration: none;
    font-style: normal;
  }
}
.footer__address-logos {
  display: flex;
  justify-content: center;
  align-items: center;
  fill: var(--color-brand-white);
}
@media screen and (min-width: 1200px) {
  .footer__address-logos {
    justify-content: start;
    display: flex;
    width: 42px;
    height: 42px;
    fill: var(--color-brand-white);
  }
}
.footer__footer-link {
  color: var(--color-brand-white);
  cursor: pointer;
  font-weight: 400;
  font-size: 16px;
  text-decoration: none;
  transition: transform 0.3s;
}
.footer .politics1 {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: var(--color-brand-white);
  text-decoration: none;
  display: flex;
  width: 203px;
}
@media screen and (max-width: 1200px) {
  .footer .politics1 {
    justify-content: center;
    display: none;
    font-weight: 400;
    font-size: 16px;
    color: var(--color-brand-white);
    text-decoration: none;
  }
}
.footer .politics2 {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: var(--color-brand-white);
  text-decoration: none;
  display: none;
}
@media screen and (max-width: 1200px) {
  .footer .politics2 {
    justify-content: center;
    display: flex;
    font-weight: 400;
    font-size: 16px;
    color: var(--color-brand-white);
    text-decoration: none;
  }
}
.footer__footer-link:hover {
  color: var(--color-brand-light);
  transform: scale(1.1);
}
.footer__footer {
  background-color: var(--color-brand-dark);
}
.footer__konfidance {
  font-weight: 400;
  font-size: 13px;
  color: var(--color-secondary-light);
}
.footer .information:hover {
  color: var(--color-brand-white);
}

/*Form*/
.form {
  max-width: 320;
  display: block;
  text-align: center;
  border-radius: 32px;
  background-color: var(--color-brand-dark);
  color: var(--color-brand-white);
  max-height: 482px;
  background-image: url(../images2/form-back.png);
  padding: 41px;
}
@media screen and (min-width: 768px) {
  .form {
    background-image: url(../images2/form-back.png);
    display: block;
    text-align: center;
    border-radius: 32px;
    background-color: var(--color-brand-dark);
    color: var(--color-brand-white);
    max-height: 482px;
    width: 423px;
    padding: 41px;
  }
}
.form__form-tittle {
  margin-top: 0;
  font-weight: 600;
  font-size: 22px;
  text-align: center;
  margin-bottom: 32px;
}
.form__form-field {
  position: relative;
  align-items: center;
  margin-bottom: 16px;
}
.form__input {
  border: 1px solid var(--color-secondary-light);
  border-radius: 360px;
  background-color: transparent;
  width: 310px;
  padding: 18px 32px;
  font-size: 13px;
  max-width: 241px;
}
@media screen and (min-width: 1200px) {
  .form__input {
    border: 1px solid var(--color-secondary-light);
    border-radius: 360px;
    background-color: transparent;
    width: 310px;
    padding: 18px 32px;
    font-size: 13px;
    max-width: 310px;
  }
}
.form__input:focus {
  border: 1px solid var(--color-secondary-light);
  background-color: var(--color-secondary-light);
  outline: none;
}
.form__lable {
  top: 16px;
  left: 42px;
  font-size: 16px;
  line-height: 1.17;
  color: var(--color-primary-grey);
}
.form__button-form {
  border-radius: 32px;
  width: 241px;
  font-size: 16px;
}
@media screen and (min-width: 1200px) {
  .form__button-form {
    border-radius: 32px;
    width: 281px;
  }
}

.useless {
  font-weight: 500;
  font-size: 12px;
  line-height: 146%;
  text-align: center;
  color: var(--color-secondary-light);
  margin-bottom: 0;
}

.useless-link {
  color: var(--color-secondary-light);
  text-decoration: underline;
}

.hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.backdrop {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  padding: 20px;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  transition: opacity 0.3s, visibility 0.3s;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  max-width: 300px;
  position: relative;
  width: 100%;
  border-radius: 48px;
  max-width: 723px;
  max-height: 681px;
  height: 100%;
  background-color: var(--color-brand-white);
}
@media screen and (min-width: 1200px) {
  .modal {
    position: relative;
    width: 100%;
    border-radius: 48px;
    max-width: 723px;
    max-height: 681px;
    height: 100%;
    background-color: var(--color-brand-white);
  }
}
.modal__modal-form {
  width: 100%;
  height: 100%;
  border-radius: 48px;
  max-width: 723px;
  max-height: 681px;
}
.modal__modal-div {
  justify-content: center;
  align-items: center;
}
.modal__modal-button-close {
  position: absolute;
  top: 40px;
  right: 40px;
  transition-property: transform;
  transition-duration: 1s;
  border: 2px solid;
  border-radius: 48px;
  border-color: var(--color-brand-light);
  background-color: var(--color-brand-light);
  color: var(--color-primary-dark);
  cursor: pointer;
}
.modal__modal-button-close:hover {
  background-color: var(--color-background);
  transform: scale(1.5);
  transform: rotate(1turn);
}
.modal__modal-form-tittle {
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 40px;
}
@media screen and (min-width: 1200px) {
  .modal__modal-form-tittle {
    font-size: 64px;
  }
}
.modal .backdrop {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  padding: 20px;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  transition: opacity 0.3s, visibility 0.3s;
}
.modal .backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}/*# sourceMappingURL=main.css.map */