@import "./utils/fonts";

@import "./utils/variables";

@import "./utils/base";

@import "./components/buttons";
/*header*/
@import "./layauts/header";

@import "./layauts/mobile-menu";

/*hero-section*/
@import "./layauts/hero-sectiom";

/*about us section*/
@import "./layauts/about-us-section";

/*why us section*/
@import "./layauts/why-us-section";

/*procedures section*/
.procedures-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 77px;
}

.procedures-list {
  display: flex;
  gap: 16px;
}

.procedures-card-1 {
  background-image:
    linear-gradient(
      180deg,
      rgba(1, 28, 68, 0) 47.4%,
      rgba(1, 28, 68, 0.73) 82.66%,
      #011c44 99.06%
    ),
    url(../images2/3.png);
  border: 2px solid var(--color-brand-white);
  text-align: center;
  border-radius: 120px 4px;
  width: 344px;
  height: 456px;
  transition: transform 0.3s;
}

.procedures-card-2 {
  background-image:
    linear-gradient(
      180deg,
      rgba(1, 28, 68, 0) 47.4%,
      rgba(1, 28, 68, 0.73) 82.66%,
      #011c44 99.06%
    ),
    url(../images2/4.png);
  border: 2px solid var(--color-brand-white);
  text-align: center;
  border-radius: 120px 4px;
  width: 344px;
  height: 456px;
  transition: transform 0.3s;
}

.procedures-card-3 {
  background-image:
    linear-gradient(
      180deg,
      rgba(1, 28, 68, 0) 47.4%,
      rgba(1, 28, 68, 0.73) 82.66%,
      #011c44 99.06%
    ),
    url(../images2/5.png);

  border: 2px solid var(--color-brand-white);
  text-align: center;
  border-radius: 120px 4px;
  width: 344px;
  height: 456px;
  transition: transform 0.3s;
}

.procedures-card-1:hover,
.procedures-card-2:hover,
.procedures-card-3:hover {
  transform: scale(1.05);
}

.procedures-item {
  flex-basis: 33.3333333333%;
  padding: 77px;
}

.procedures-text {
  color: var(--color-brand-white);
  font-weight: 400;
  font-size: 22px;
  line-height: 118%;
  text-align: center;
  margin-top: 390px;
}

.procedures {
  color: var(--color-brand-light);
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 24px;
}

.pagination__button {
  width: 12px;
  height: 12px;
  padding: 0;
  background-color: var(--color-secondary-dark);
  border-radius: 50%;
}

.pagination__button--active {
  background-color: var(--color-brand-normal);
}

/*carusel-button*/
.carousel-button {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  padding: 0;
  fill: var(--color-brand-dark);
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid var(--color-brand-dark);
  cursor: pointer;
}

.carousel-button:hover {
  background-color: var(--color-brand-light);
  fill: var(--color-brand-white);
  border-color: var(--color-brand-light);
}

.carousel-button.next {
  transform: rotate(180deg);
}

/* where to find us section*/
@import "./layauts/contakts-section";
/*footer*/
@import "./layauts/footer";
/*Modal*/
.backdrop {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  padding: 20px;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  transition:
    opacity 0.3s,
    visibility 0.3s;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: relative;
  width: 100%;
  border-radius: 48px;
  max-width: 723px;
  max-height: 681px;
  height: 100%;
  background-color: var(--color-brand-white);
}

.modal-button-close {
  position: absolute;
  top: 40px;
  right: 40px;
  transition-property: transform;
  transition-duration: 1s;
  border: 2px solid;
  border-radius: 48px;
  border-color: var(--color-brand-light);
  background-color: var(--color-brand-light);
  color: var(--color-primary-dark);
  cursor: pointer;
}

.modal-button-close:hover {
  background-color: var(--color-background);
  transform: scale(1.5);
  transform: rotate(1turn);
}

/*Form*/
@import "./layauts/form";

.modal-form {
  width: 100%;
  height: 100%;
  border-radius: 48px;
  max-width: 723px;
  max-height: 681px;
}

.moodal-div {
  justify-content: center;
  align-items: center;
}
