:root {
  --color-brand-light: #2b7fff;
  --color-brand-dark: #011c44;
  --color-brand-white: #ffffff;
  --color-secondary-light: #747272;
}

$bp-mobile: 480px;
$bp-tablet: 768px;
$bp-laptop: 1200px;
