.form {
  background-image: url(../images2/form-back.png);
  display: block;
  text-align: center;
  border-radius: 32px;
  background-color: var(--color-brand-dark);
  color: var(--color-brand-white);
  max-height: 482px;
  width: 423px;
  padding: 41px;

  &__form-tittle {
    margin-top: 0;
    font-weight: 600;
    font-size: 22px;
    text-align: center;
    margin-bottom: 32px;
  }

  &__form-field {
    position: relative;
    margin-bottom: 16px;
  }

  &__input {
    border: 1px solid var(--color-secondary-light);
    border-radius: 360px;
    background-color: transparent;
    width: 310px;
    padding: 18px 32px;
    font-size: 13px;
  }

  &__input:focus {
    border: 1px solid var(--color-secondary-light);
    background-color: var(--color-secondary-light);
    outline: none;
  }

  &__lable {
    top: 16px;
    left: 42px;
    font-size: 16px;
    line-height: 1.17;
    color: var(--color-primary-grey);
  }

  &__button-form {
    border-radius: 32px;
    width: 281px;
  }
}
.useless {
  font-weight: 500;
  font-size: 12px;
  line-height: 146%;
  text-align: center;
  color: var(--color-secondary-light);
  margin-bottom: 0;
}

.useless-link {
  color: var(--color-secondary-light);
  text-decoration-line: und;
}

.hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
.modal-form {
  width: 100%;
  height: 100%;
  border-radius: 48px;
  max-width: 723px;
  max-height: 681px;
}

.moodal-div {
  justify-content: center;
  align-items: center;
}
.backdrop {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  padding: 20px;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  transition:
    opacity 0.3s,
    visibility 0.3s;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  width: 100%;
  border-radius: 48px;
  max-width: 723px;
  max-height: 681px;
  height: 100%;
  background-color: var(--color-brand-white);
}

.modal-button-close {
  position: absolute;
  top: 40px;
  right: 40px;
  transition-property: transform;
  transition-duration: 1s;
  border: 2px solid;
  border-radius: 48px;
  border-color: var(--color-brand-light);
  background-color: var(--color-brand-light);
  color: var(--color-primary-dark);
  cursor: pointer;
}

.modal-button-close:hover {
  background-color: var(--color-background);
  transform: scale(1.5);
  transform: rotate(1turn);
}

.modal-form-tittle {
  font-style: 64px;
  font-weight: 700;
  margin-bottom: 40px;
}
